[submodule "gender-demo-data"]
	path = gender-demo-data
	url = https://github.com/vre4eic/gender-demo-data
[submodule "docker-swish"]
	path = docker-swish
	url = https://github.com/vre4eic/docker-swish
[submodule "swish"]
	path = swish
	url = https://github.com/vre4eic/swish
[submodule "swipl-devel"]
	path = swipl-devel
	url = https://github.com/SWI-Prolog/swipl-devel
[submodule "rserve-sandbox"]
	path = rserve-sandbox
	url = https://github.com/vre4eic/rserve-sandbox.git
[submodule "gender-toe-data"]
	path = gender-toe-data
	url = https://github.com/vre4eic/gender-toe-data
